<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doktor | Hastane Yönetim</title>
    <link rel="icon" href="">
    <!-- Css -->
    <link rel="stylesheet" href="~/assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/font-awesome.min.css">
    <link href="~/assets/css/global/shared/style.css" rel="stylesheet" />
    @RenderSection("Css", false)
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/Doctor/Home/Index" class="nav col-12 col-lg-auto ms-5 me-lg-auto mb-3 justify-content-center mb-md-0 text-white text-decoration-none">
                <i class="fa fa-hospital-o fa-2x"></i>
            </a>
            <div class="text-end">
                <span class="px-3 py-2 me-3 m-1 text-light d-inline-flex align-items-center rounded-pill bg-opacity-25 bg-light">
                    <i class="fa fa-user-circle me-2"></i>
                    <span class="fw-bold me-1">Doktor:</span>
                    <span>@User.Identity.Name</span>
                </span>
                <a href="/Admin/Auth/Login" type="button" class="btn btn-outline-light me-2 m-1">Yönetici Girişi</a>
                <a href="/Doctor/Auth/Logout" type="button" class="btn btn-outline-light me-2 m-1">Çıkış Yap</a>
            </div>
        </div>
    </header>
    <main class="d-flex flex-nowrap">
        <button class="btn btn-outline-dark d-md-none m-3" style="max-height: 80px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu">
            ☰ Menü
        </button>
        <!-- Sidebar -->
        <div class="offcanvas offcanvas-start d-md-block bg-white" tabindex="-1" id="sidebarMenu">
            <div class="offcanvas-header d-md-none">
                <h5 class="offcanvas-title">Menü</h5>
                <button type="button" style="max-height: 80px;" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body p-3" style="width: 280px;">
                <a href="/Doctor/Home/Index" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <i class="fa fa-home fa-lg me-2"></i>
                    <span class="fs-5 fw-semibold">Anasayfa</span>
                </a>
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                            Randevu İşlemleri
                        </button>
                        <div class="collapse show" id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <i class="fa fa-calendar-o ms-2"></i>
                                    <a href="@Url.Action("OpeningAppointments", "Home", new { Area = "Doctor" })" class="link-dark rounded m-auto">Randevu Aç</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="true">
                            Hesap
                        </button>
                        <div class="collapse show" id="account-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <i class="fa fa-sign-out ms-2"></i>
                                    <a href="/Doctor/Auth/Logout" class="link-dark rounded m-auto">Çıkış Yap</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        @RenderBody()
    </main>
    <!-- Js -->
    <script src="~/assets/js/plugins/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/plugins/jquery.min.js"></script>
    <script src="~/assets/js/plugins/sweetalert2.all.min.js"></script>
    <script src="~/assets/js/global/shared/script.js"></script>
    @RenderSection("Javascript", false)
</body>
</html>